body{
  background-color: rgb(100 , 99, 99);
  display: flex;
  align-items: center;
  justify-content: center;
  padding:  15%;
}
.main{
  padding: 10px;
  margin-top: 120px;
  border:2px solid whitesmoke;
  width: 350px;
  align-items: center;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color:rgb(255,255,255)
  
}
  .head{
    font-weight: 600;
    font-size:20px;
    margin-bottom:20px;
}
.input:hover{
  background-color: rgb(158 , 156 , 152);
}
.input:focus{
  background-color: beige;
}
